* {
  margin: 0;
  padding: 0;
}
section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
 
}
.cards {
  width: 250px;
  position: relative;
  padding: 20px;
  background: rgb(211, 213, 215);
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 13px;
  box-shadow: 0px 0px 10px rgb(211, 213, 215) ;
}
.cards:hover {
  box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
  cursor: pointer;
}
.image_box img {
  width: 80%;
  height: 200px;
  text-align: center;
}

.image_box img {
  width: 90%;
  text-align: center;
  height: 200px;
  margin-left: 10px;
  transition: ease-in-out 1s;
  transform: translateY(0px);
  border-radius: 15px;
  z-index: -10;
}
img:hover{
  transform: translateY(-30px);
  box-shadow: 0px 0px 20px white;
  border-radius: 20px;
}
.details p:nth-child(1) {
  font-weight: bold;
}
.details p:nth-child(2) {
  color: grey;
  font-size: 0.8rem;
}
.details p:nth-child(3) {
  font-weight: bolx;
  color: grey;
}
.details button {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(7, 68, 93);
  outline: none;
  margin-top: 10px;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 10px;
}
